<div class="footer">

    <div class="Footer_texto">
        <p>&copy; 2024 HealthSecure. Todos os direitos reservados.</p>
        <p>Contato: suporte&#64;healthsecure.com | Telefone: (11) 1234-5678</p>
    </div>

    <div class="Footer_redesSociais">
        <p>Siga-nos nas redes sociais:</p>
        <ul>
            <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
            <li><a href="https://www.twitter.com" target="_blank">Twitter</a></li>
            <li><a href="https://www.instagram.com" target="_blank">Instagram</a></li>
            <li><a href="https://www.linkedin.com" target="_blank">LinkedIn</a></li>
        </ul>
    </div>

    <div class="Footer_termos">
        <a href="#" target="_blank">Política de Privacidade</a>
        <a href="#" target="_blank">Termos de Uso</a>
    </div>
</div>
