#servicos{
    width: 80%;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1{
    color: #4383bb;
}

.DivGeralDosServicos{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.DivGeralDosServicos div{
    width: 220px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    gap: 5px;
}

.DivGeralDosServicos div h2{
    font-size: 20px;
}

.DivGeralDosServicos div p{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.586);
}

img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}