<div id="servicos">

    <div>
        <h1>Nossos <strong>Serviços</strong></h1>
    </div>

    <div class="DivGeralDosServicos">

        <div>
            <img src="ConsultaMedicaImg.jpg" alt="Imagem de Consultas Médicas">
            <h2>Consultas Médicas</h2>
            <p>Marque suas consultas com facilidade e escolha os melhores profissionais</p>
        </div>

        <div>
            <img src="ExamesImg.png" alt="Imagem de Exames">
            <h2>Exames</h2>
            <p>Agende e acompanhe seus exames de forma prática</p>
        </div>

        <div>
            <img src="TelemedicinaImg.jpg" alt="Imagem de Telemedicina">
            <h2>Telemedicina</h2>
            <p>Tenha acesso a consultas online com nossos médicos especializados</p>
        </div>

        <div>
            <img src="EmergenciaImg.png" alt="Imagem de Atendimento de emergência">
            <h2>Atendimento de Emergência</h2>
            <p>Disponível 24/7 para garantir que você receba o cuidado necessário</p>
        </div>

    </div>

</div>
