<section id="SobreNos">
    <h1>Sobre Nós</h1>
    <p>O HealthSecure é dedicado a fornecer o melhor serviço de saúde para você e sua família. Com nossa plataforma segura e fácil de usar, você pode acessar todas as informações importantes do seu plano de saúde em um só lugar.</p>
    <div class="DivGeralSobre">
        <div>
            <p>Nós contamos com uma equipe de profissionais de saúde altamente qualificados e comprometidos com o seu bem-estar. Nosso objetivo é oferecer um atendimento personalizado e de qualidade.</p>
        </div>
        <div>
            <p>Privacidade e segurança são nossas prioridades. Utilizamos tecnologias avançadas para proteger seus dados e garantir que você tenha a melhor experiência possível.</p>
        </div>
        <div>
            <p>Nossa missão é melhorar a sua qualidade de vida através de serviços de saúde acessíveis e eficientes. Estamos aqui para apoiar você em cada etapa da sua jornada de saúde.</p>
        </div>
    </div>
</section>


