#SobreNos{
    width: 80%;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1{
    padding: 10px;
    font-size: 30px;
    color: #4383bb;
    border-bottom: 1px solid #4383bb;
    width: 150px;
    margin: auto;
    margin-top: 2em;
}

div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.missao{
    font-size: 20px;
    font-weight: bold;
}

@media(max-width: 800px){

    #SobreNos{
        text-align: start;
    }

    h1{
        margin: 0;
        margin-top: 2em;
    }

    div{
        padding: 0px;
    }
}