<div id="beneficios">

    <div class="Texto">
        <h1><strong>Por que</strong> nos escolher?</h1>
        <h2>Benefícios do HealthSecure</h2>
        <p>O HealthSecure foi desenvolvido para oferecer uma experiência completa e satisfatória aos nossos usuários. Aqui estão alguns dos benefícios que você terá ao utilizar nossa plataforma</p>
    </div>

    <div class="DivGeralBeneficios">

        <div>
            <i class="material-icons">speed</i>
            <div>
                <h1>Acesso Fácil e Rápido</h1>
                <p>Com apenas alguns cliques, você pode agendar consultas, visualizar resultados de exames e acessar informações importantes sobre sua saúde.</p>
            </div>
        </div>

        <div>
            <i class="material-icons">videocam</i>
            <div>
                <h1>Telemedicina</h1>
                <p>Não precisa sair de casa para consultar um médico. Com a telemedicina, você pode realizar consultas online, economizando tempo e evitando deslocamentos desnecessários.</p>
            </div>
        </div>

        <div>
            <i class="material-icons">medical_services</i>
            <div>
                <h1>Atendimento de Alta Qualidade</h1>
                <p>Nosso time de profissionais de saúde é altamente qualificado e está sempre pronto para oferecer o melhor atendimento, seja presencial ou via telemedicina.</p>
            </div>
        </div>

        <div>
            <i class="material-icons">notifications</i>
            <div>
                <h1>Alertas e Lembretes</h1>
                <p>Receba notificações e lembretes para consultas e exames, garantindo que você nunca perca um compromisso importante.</p>
            </div>
        </div>

        <div>
            <i class="material-icons">local_offer</i>
            <div>
                <h1>Benefícios Exclusivos</h1>
                <p>Aproveite descontos e promoções exclusivas em serviços de saúde, farmácias e parceiros do HealthSecure.</p>
            </div>
        </div>

    </div>

</div>
