.geral{
    background-color:#50a2e960 ;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #4383bb;
    padding: 15px 30px;
}

.NomeEmpresa h1{
    font-size: 30px;
}

.ListaMobile{
    display: none;
}

.Lista ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.Lista a{
    text-decoration: none;
    color: #4383bb;
}

.Lista a:hover{
    color: #55a0e2;
}

span{
    display: none;
}

.DivUser{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.DivUser img{
    width: 30px;
    border-radius: 50%;
}

@media(max-width: 800px){
    .geral{
        flex-direction: column;
        gap: 20px;
    }

    .NomeEmpresa{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    
    span{
        display: block;
        align-self: end;
        font-size: 30px;
        cursor: pointer;
    }

    .Lista{
        display: none;
    }

    .ListaMobile{
        display: flex;
        flex-direction: column;
        background-color: #55a0e2;
        width: 100%;
        border-radius: 10px;
    }
    
    .ListaMobile ul{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        list-style: none;
        padding: 10px;
    }
    
    .ListaMobile a{
        color: #ffffff;
        text-decoration: none;
    }
    
    .ListaMobile a:hover{
        color: #81c4ff;
    }
    
    .DivUser{
        display: none;
    }
    
}
