<div class="geral">

    <div class="NomeEmpresa">
        <h1>Health Secure</h1>
        <span (click)="AparecerMobile()" class="material-symbols-outlined">menu</span>
    </div>

    <div class="Lista">
        <ul>
            <li><p>Sobre Nós</p></li>
            <li><p>Serviços</p></li>
            <li><p>Benefícios</p></li>
        </ul>
    </div>

    <div *ngIf="Aparecer == true" class="ListaMobile">
        <ul>
            <li><p>Sobre Nós</p></li>
            <li><p>Serviços</p></li>
            <li><p>Benefícios</p></li>
        </ul>
    </div>

    <div class="DivUser">
        <img src="FotoPerfil.jpg" alt="Foto de perfil ilustrativa">
        <p>{{nomeUsuario}}</p>
    </div>
    
</div>
